[submodule "dependencies/gmath"]
	path = dependencies/gmath
	url = https://github.com/galgantar/gmath
[submodule "dependencies/SOIL2"]
	path = dependencies/SOIL2
	url = https://github.com/SpartanJ/SOIL2
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw
